.container-fluid
  .row
    ul.social-links.col-md-12
      li.facebook: a: i.fa.fa-facebook
      li.twitter: a: i.fa.fa-twitter
      li.instagram: a: i.fa.fa-instagram
      li.linkedin: a: i.fa.fa-linkedin
      li.google: a: i.fa.fa-google

    footer.col-md-12
      i.fa.fa-map-marker    123 Street Name, Porto
      span.separator |
      i.fa.fa-phone     (123) 456-789
      span.separator |
      i.fa.fa-envelope: a  mail@example.com
