.post-item.col-md-12
  .post-img.col-md-4
    a: img.img-responsive(src="{{ item.imagePath }}" alt="")
  .post-content.col-md-8
    h2.post-title: a {{ item.title }}
    p.post-excerpt {{ item.excerpt }}
    a.read-more
      |Read More
      i.fa.fa-long-arrow-right