.container
  .row
    section.col-md-12
      h1
        | {{ normal_text_1 }}
        span {{ bold_text }}
        | {{ normal_text_2 }}
      p {{ des }}
      img.img-responsive(src="./images/custom-divider-1.png" alt="")