<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Angular 2 Messenger</title>
    <link rel="stylesheet" href="./stylesheets/grid.css">
    <link rel="stylesheet" href="./stylesheets/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<my-app>Loading...</my-app>

<script src="/js/app/bundle.js"></script>
</body>
</html>
