.container
  section-heading([normal_text_1]="'Our'", [bold_text]="'Galery'")
  .row
    .col-md-12
      .col-md-3.panel
        img.img-responsive( src="./images/section-3/restaurant-gallery-1.jpg" alt="")
        img.img-responsive( src="./images/section-3/restaurant-gallery-3.jpg" alt="")
      .col-md-6.panel
        img.img-responsive(src="./images/section-3/restaurant-gallery-2.jpg" alt="")
      .col-md-3.panel
        img.img-responsive( src="./images/section-3/restaurant-gallery-4.jpg" alt="")
        img.img-responsive( src="./images/section-3/restaurant-gallery-5.jpg" alt="")

