.container-fluid
  .row
    .col-md-12-fluid.banner-content
      .banner
      .intro
        .greeting welcome to
          img(src="./images/slide-title-border.png" alt="")
        .heading The porto
        .sub-heading The best place to eat in downtown Porto
        a Our Menu
          i.fa.fa-arrow-down

